h1 {
    text-decoration: none;
    color: blue;
}

.menu ul {
    display: flex;
    padding: 5px 0;
    margin: 0px;
}

    .menu ul li {
        list-style-type: none;
        padding-right: 10px;
    }

.widget.container {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin-bottom: 10px;
    width: 350px;
    float: left;
    margin-right: 10px;
}

.widget h1 {
    font-size: 20px;
}
