@* VirtualPath: ~/Support/CustomerCallReport/Index.cshtml *@
@using System.Web.Optimization

@{
    Layout = null;
}

<table class="support calls">
    <tr>
        <th>Month</th>
        <th># Calls</th>
        <th>Avg Satistaction</th>
    </tr>
    <tr>
        <td>January</td>
        <td>132</td>
        <td>78%</td>
    </tr>
    <tr>
        <td>Febrauary</td>
        <td>98</td>
        <td>81%</td>
    </tr>

    <tr>
        <td>March</td>
        <td>231</td>
        <td>12%</td>
    </tr>

    <tr>
        <td>April</td>
        <td>153</td>
        <td>69%</td>
    </tr>
</table>