@* VirtualPath: ~/Support/CustomerCall/Index.cshtml *@
@using System.Web.Mvc.Html
@using ABC.Infrastructure.Web.Defaults

@{
    Layout = Html.DefaultLayout();
}

<h1>Customer call page</h1>

@Html.Action("Index", "CustomerCallReport")
