@* VirtualPath: ~/Support/CustomerCall/Index.cshtml *@
@using System.Web.Mvc.Html
@using ABC.Infrastructure.Web.Defaults
@model IEnumerable<ABC.Support.CallsStatistic>

    @{
        Layout = Html.DefaultLayout();
    }

    <h1>Customer call page</h1>

    @Html.Partial("~/Support/CustomerCallWidget/Calls.cshtml")
