@* VirtualPath: ~/Sales/Sales/Index.cshtml *@
@using System.Web.Mvc.Html
@using ABC.Infrastructure.Web.Defaults
@model IEnumerable<ValueTuple<string, double?>>

@{
    Layout = Html.DefaultLayout();
}

<h1>ABC Sales</h1>

@Html.Action("SalesStats", "SalesStats")
   
<hr />
Some performance indicators:
<ul>
    @foreach (var performance in Model)
    {
        <li>@performance</li>
    }
</ul>