@* VirtualPath: ~/Sales/Sales/Index.cshtml *@
@using System.Web.Mvc.Html
@using ABC.Infrastructure.Web.Defaults
@model IEnumerable<ABC.Sales.MonthStatistic>

    @{
        Layout = Html.DefaultLayout();
    }

    <h1>ABC Sales</h1>

    @Html.Partial("~/sales/SalesStats/SalesStats.cshtml")
