@* VirtualPath: ~/sales/SalesStats/SalesStats.cshtml *@
@using System.Web.Optimization
@model IEnumerable<ABC.Sales.MonthStatistic>

@{
    Layout = null;
}

<table class="sales stats">
    <tr>
        <th>Month</th>
        <th># Revenue</th>
        <th>% Target</th>
        <th>% Performance</th>
    </tr>
    @foreach (var stat in Model)
    {
        <tr>
            <td>@stat.Month</td>
            <td>@stat.Revenue</td>
            <td>@(stat.Target * 100.0)%</td>
            <td>@stat.Performance</td>
        </tr>
    }
</table>